@page
@model Tech_Mela_Final.Pages.EventsPageModel
@{
    ViewData["Title"] = "Event Details";
}
<div class="text-center">
    <h1 class="display-4">Event List</h1>
</div>
<div class="row">
   @foreach (var item in Model.EventDetails)
  {
      <div id="EventContainer" class="col-lg-3 col-md-4 col-sm-1">
            <img id="EventImage" style="width: 100%; height: 100%;" src="@item.image" alt="@item.heading" />
           <h4><span id="EventHanding">@item.heading</span></h4> 
        </div>
  }
</div>

